<header>
  <div class="header-container">
      <div class="logo">
          <a href="/room"><img src="/images/logo.png"></a>
      </div>
      <div class="user-info">
        <span class="user-name"><%= locals.username %>さん</span>
        <div class="user-actions">
          <a href="/mypage" class="mypage">マイページ</a>
          <a href="/logout" class="logout">ログアウト</a>
        </div>
      </div>
    </div>
</header>