<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
    <title>ホーム/Boost Study Lounge</title>
</head>
<body>
    <h1>オンライン自習室 <%= message %></h1>
    <h2>ようこそ</h2>
    <a href="/login">ログイン</a>
    <a href="/signup">新規登録</a>
</body>
</html>