<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
    <script src="/js/send_url.js"></script>
    <title>ホーム/Boost Study Lounge</title>
</head>
<body class="no-padding-top">
    <div class="top-wrapper">
        <div class="container">
            <img src="/images/logo.png">
            <h2>オンライン自習室へようこそ</h2>
            <div class="btn-wrapper">
                <a href="/login" class="btn">ログイン</a>
                <a href="/signup" class="btn">新規登録</a>
            </div>
        </div>
    </div>
</body>
</html>