body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    color: #2B546A;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  }

header {
    background-color: #88b8e7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  h1, h2, h3{
    margin-left: 40px;
    margin-right: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    padding: 10px 20px;
  }
  
  .logo {
    margin-left: 20px;
    flex: 0 0 auto;
  }
  
  .logo img {
    height: 40px; 
  }
  
  .user-info {
    display: flex;
    align-items: center;
    
  }
  
  .user-name {
    font-size: 14px;
    margin-right: 20px;
  }
  
  /* ユーザーアクション（マイページ、ログアウト）のコンテナ */
  .user-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
  }
  
  /* マイページとログアウトのリンクスタイル */
  .user-actions a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .user-actions a:hover {
    text-decoration: underline;
  }
  
  /* マイページリンクのスタイル */
  .user-actions .mypage {
    font-weight: bold;
  }
  
  /* ログアウトリンクのスタイル */
  .user-actions .logout {
    color: #666;
  }
  
  /* ヘッダーの下のコンテンツの上部余白を調整 */
  body {
    padding-top: 60px; /* ヘッダーの高さに応じて調整 */
  }
  

#seat-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.seat.available {
    background-color: blue;
    color: white;
}

.seat.reserved {
    background-color: rgb(162, 161, 161);
    color: white;
}

table {
    width: calc(100% - 80px);
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-left: 40px;
    margin-right: 40px;
}

tr:nth-child(2n+1) {
    background: #cfdff0;
}

th {
    padding: 10px;
    background: #778ca3;
    border-right: solid 1px #778ca3;
    color: #ffffff;
}

th:last-child {
    border-right: none;
}

td {
    padding: 10px;
    border-right: solid 1px #778ca3; 
}

td:last-child {
    border-right: none;
}