.measurement {
	width:  100vw;
	height:  100vh;
	background-color: #f0f2f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.measurementWrapper {
	width: 50%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.measurementMsg {
	font-size: 50px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}

.measurementBox {
	height: 300px;
	background-color: white;
	padding: 50px;
	box-shadow: 5px 5px 15px -5px #2c517c;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.measurementInput {
	height: 50px;
	border-radius: 10px;
	border: 1px solid gray;
	font-size: 18px;
	padding-left: 20px; /*placeholderで指定した文字列をずらす*/
	margin-bottom: 10px;
}

.measurementInput:focus {
	outline: none;
}

.stopwatch {
	display: flex;
}

.stopwatchTime {
	display: flex;
	margin: auto;
	font-size: 100px;
}

.stopwatchButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stopwatchButtonStart, 
.stopwatchButtonStop {
	height: 50px;
	width: 100px;
	margin: 0 100px;
	border-radius: 10px;
	border: none;
	background-color: #41428b;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.stopwatchButtonEnd {
	height: 50px;
	width: 100px;
	margin: 0 100px;
	border-radius: 10px;
	border: none;
	background-color: #418b4a;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.stopwatchButtonEnd.disabled {
	background-color: #cccccc;
	cursor: not-allowed;
  }
  
  .stopwatchButtonStart:hover,
  .stopwatchButtonStop:hover,
  .stopwatchButtonEnd:hover:not(.disabled) {
	opacity: 0.8;
  }